:root {
  --bg-color: "#e1e1e1";
  --main-color: #219EBC;
  --checked-color: rgb(4, 201, 4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #191919;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

abbr {
  text-decoration: none;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  min-height: 90vh
}

.page-header {
  padding-top: 20px;
}

#editableTitle {
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-transform: capitalize;
}

#inputContainer {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  gap: 10px;
  margin: 10px;
}

#itemInput {
  padding: 10px;
  border: 2px solid var(--main-color);
  border-radius: 15px;
  font-size: 1.1rem;
  line-height: 1rem;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  background-color: rgba(255, 255, 255, 0.904);
  outline: 0;
}

#itemInput::placeholder {
  text-align: center;
  opacity: .4;
}

#addItemBtn {
  background-color: var(--main-color);
  border: 1px solid rgba(128, 128, 128, 0.288);
  width: 50px;
  height: 30px;
  align-self: center;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#addItemBtn:hover {
  cursor: pointer;
}

#listContainer {
  margin: 25px 0px;
}

.list-item {
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: 15px;
  border: 2px solid var(--main-color);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  user-select: none;
  overflow: hidden;
}

.itemCheckbox {
  margin: 0 auto;
  width: 1.2em;
  height: 1.2em;
  border-color: white;
  outline: 0;
}

.item-label {
  display: grid;
  grid-template-columns: 1fr 19fr;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding: 15px;
}

.itemCheckbox:hover, .item-label:hover {
    cursor: pointer;
}

.item-text {
  max-width: 100%;
  line-break: auto;
  word-break: break-word;
}

.remove-btn {
  grid-area: remove;
}

.edit-btn {
  grid-area: edit;
}

.downward-btn {
  grid-area: downward;
  opacity: .7;
}

.upward-btn {
  grid-area: upward;
  opacity: .7;
}

.fn-section {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5px 12px;
  background-color: var(--main-color);
  flex-direction: column;
  height: 100%;
  grid-template: 
  'remove upward' auto
  'edit downward' auto
  / 24px 24px;
  padding: 5px 0px 5px 5px;
}

.fn-btn {
  color: #219EBC;
  background-color: transparent;
  border: 0;
  font-weight: bold;
  width: 24px;
  height: 24px;
}

.fn-btn:hover {
  cursor: pointer;
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}

.settings-menu {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
  z-index: 100;
}

.openMenu {
  display: flex;
  opacity: 1;
}

.color-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-input-container label {
  text-transform: uppercase;
  font-weight: bold;
}

.toggle-settings-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
}
.toggle-settings-btn img {
  width: 20px;
  height: 20px;
  opacity: .3;
}
.toggle-settings-btn img:hover {
  width: 25px;
  height: 25px;
  transition: all .2s ease;
  opacity: 1;
  cursor: pointer;
}